.referance {
  &__content {
    gap: 0.25rem;
  }
  &__subtitle,
  &__contact {
    font-size: var(--smaller-font-size);
  }
  &__subtitle {
    color: var(--text-color-light);
    text-transform: capitalize;
  }
  &__title {
    font-size: var(--h3-font-size);
    text-transform: capitalize;
  }
  @media screen and (min-width: 968px) {
    &__container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
